<!-- only showing on app/views/invites - show.html.erb -->

<div id='invites_show_header'>
  <h1><%= @user.name %>'s Items for <%= @trip.destination %></h1>
  Trip #<%= @trip.id %>: From <%= @trip.start %> to <%= @trip.destination %><br/>
  List of items <%= @user.name %> is bringing: <br/>
</div>