<!-- app/views/trips -->

<h1>My Upcoming Trips</h1>

<!-- Matching the current_user id with the trip user id in order to show the current user's trips -->

<% @trips.each do |trip| %>
  <% if session[:user_id] == trip.user_id %>
      <p><a href="/trips/<%= trip.id %>"><%= trip.start %> to <%= trip.destination %></a><strong> (*Group Leader)</strong> </p>
   <% end %>
<% end %>
<!-- needs refactoring
-idea is to find the invites that include the current user name, and find the trip that the current user is on
-will redirect them to the trip, but will not have group leader priviledges
-need to figure out how to get all invitations with the user_id (check trips_controller#index)
 -->

<!-- used find.where(args).all to collect all invites with matchinged user_id,
  then iterated through each @invite object to find match
  -ugly but it works -->
<% @invite.each do |invite| %>
  <% if invite.user_id == params[:id].to_i %>
    <p><a href="/trips/<%= invite.trip.id %>"><%= invite.trip.start %> to <%= invite.trip.destination %></a></p>
  <% end %>
<% end %>
<a href="/"><button>Home</button></a>


