<!-- app/views/trips -->
<a href="/">Home</a>

<h1>Going to <%= @trip.destination %></h1>

<p><strong>Trip Details:</strong> <%= @trip.start %> to <%= @trip.destination %></p>

<!-- re-routed items to be sure they only get added to selected trip -->
<a href="/trips/<%= @trip.id %>/items/new">Add Item to Trip Inventory</a><br/>
<a href="/trips/<%= @trip.id %>/items">View Trip Items</a><br/>
<a href="/trips/<%= @trip.id %>/invites">View Trip Attendees</a><br/>

<!-- roundabout way to create a group leader
      -if the trip was not created by the user (@trip.user_id), then do not display the
          group leader options below -->
<% if @trip.user_id == session[:user_id] %>
  <p><strong>Group Leader Options</strong></p>
  <a href="/trips/<%= @trip.id %>/edit">Edit Trip</a><br/>
  <a href="/trips/<%= @trip.id %>/invites/new">Add User to Trip</a><br/>
  <a href="/trips/<%= @trip.id %>/invites/new">Invite Friends!</a>
  <%= form_for(@trip, method: "delete") do |f| %>
    <%= f.submit("Delete This Trip") %>
  <% end %>
<% end %>





<!-- use button to delete trip for now -->


