<!-- app/views/users -->


<div class="user-show-page">
  <div class="row">
    <div class="small-9 columns">
      <p>content</p>
    </div> <!-- end .small-9 columns -->
    <div class="small-3 columns">
      <h2>My Account</h2>
      <ul class="account-info">
        <li><%= image_tag @user.avatar.url(:medium) %></li>
        <% binding.pry %>
        <li>Name: <%= @user.name.capitalize %></li>
        <li>Email: <%= @user.email %></li>
      </ul>
      <ul class="update-delete">
        <li><%= link_to('Update My Account', edit_user_path(@user)) %>
        <li><%= link_to('Delete My Account', user_path(@user), method: :delete) %>
      </ul>
    </div> <!-- end .small-3 columns -->
  </div> <!-- end .row -->
</div> <!-- end .user-show-page -->



