<h1>Hello <%= @user.name.capitalize %></h1>

<a href="/users">View Users</a><br/>
<a href="/users/<%= @user.id %>/edit">Update  My Account</a><br/>
<a href="/trips/users/<%= @user.id %>">View My Trips</a><br/>
<a href="/trips/new">Create a New Trip</a><br/>
<a href="/logout">Logout</a><br/>
<a href="/">Home</a>

<%= form_for(@user, method: "delete") do |f| %>
  <%= f.submit("Delete My Account") %>
<% end %>
