<!-- app/views/users -->
<%= link_to('Home', root_path) %>

<h1>Hello <%= @user.name.capitalize %></h1>

<%= link_to('Update My Account Info', edit_user_path(@user)) %><br/>
<%= link_to('View My Trips', trips_users_path(@user)) %><br/>
<%= link_to('Create New Trip', new_trip_path(@trip)) %><br/>
<%= link_to('Delete My Account', user_path(@user), method: :delete) %><br/>
<%= link_to('Logout', logout_path) %><br/>

