<!-- app/views/users -->


<div class="user-show-page">
  <div class="row">
    <div class="small-9 columns">
      <li><%= link_to "View My Trips", trips_users_path(current_user), class: "view-trips" %></li>

      <div class="trips">
        <!-- need to give JS access to session ID, so that when I make ajax request in main.js it has access to current user
         -->
        <%= javascript_tag do %>
            var userId = '<%= @user.id %>';
        <% end %>
      </div> <!-- end .trips (used for ajax request) -->

    </div> <!-- end .small-9 columns -->
    <div class="small-3 columns">
      <h2>My Account</h2>
      <ul class="account-info">
        <li><%= image_tag @user.avatar.url(:medium) %></li>
        <li>Name: <%= @user.name.capitalize %></li>
        <li>Email: <%= @user.email %></li>
      </ul>
      <ul class="update-delete">
        <li><%= link_to('Update My Account', edit_user_path(@user)) %>
        <li><%= link_to('Delete My Account', user_path(@user), method: :delete) %>
      </ul>
    </div> <!-- end .small-3 columns -->
  </div> <!-- end .row -->
</div> <!-- end .user-show-page -->



