<h1>Sign Up for Trip Collab!</h1>

<p>Hello!</p>

<h1>Users#New</h1>
<!-- @user is in both the new and create actions
when we render it under `new` there are no errrors
but if we render it under `create` there will be errors -->
<% @user.errors.messages.each do |attr, message| %>
  <p>error on <%= attr %><%= message %></p>
<% end %>
<!-- form_for(a model) -->
<%= form_for(@user) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:email) %>
  <%= f.text_field(:email) %>
  <!-- these input controls will obscure the password -->
  <%= f.label(:password) %>
  <%= f.password_field(:password) %>
  <%= f.label(:password_confirmation) %>
  <%= f.password_field(:password_confirmation) %>
  <%= f.submit %>
<% end %>
