<!-- app/views/items -->

<%= link_to('Home', root_path) %><br/>
<%= link_to('Back to Trip', trip_path(@trip)) %><br/>
<%= link_to('My Trips', trips_users_path(@user)) %><br/>


<h1>Hi <%= @user.name %></h1>
Item: <%= @item.name.capitalize %><br/>
For Trip: <%= @trip.destination %><br/>
<%= link_to('Edit Item', edit_trip_item_path(@item.trip, @item)) %><br/><br/>

<!-- update item to include user_id and claimed if user wants to bring item -->
<% if @item.is_claimed == false %>
  Click the button below to 'claim' this item. Once you commit to bringing the item, it's on you to not be that guy or girl who forgets it.<br/>
  <%= render 'bring_item_form' %>
<% else %>
  <%= @item.user_id %> is bringing this item, <%= @item.name %><br/>
<% end %>

<!-- use button to delete trip for now -->
<%= render partial: 'remove_item' %><br/><br/>

<a href="/trips/<%= @trip.id %>/items/<%= @item.id %>/tweets"><%= image_tag("twitter.png", size: "150x150", alt: "Find Tweets ") %></a>

