<!DOCTYPE html>
<html>
<head>
  <title>TripCollaboratorApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

  <body>
    
      <%= render '/layouts/header' %>

      <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
      <% elsif flash[:notice] %>
        <div class="notice"><strong><%= flash[:notice] %></strong></div>
      <% elsif flash[:destroy_trip] %>
        <div class="destroy_trip"><strong><%= flash[:destroy_trip] %></strong></div>
      <% elsif flash[:destroy_user] %>
        <div class="destroy_user"><strong><%= flash[:destroy_user] %></strong></div>
      <% elsif flash[:create_trip] %>
        <div class="create_trip"><strong><%= flash[:create_trip] %></strong></div>
      <% end %>
 
      <%= yield %>

  </body>

</html>
